html {
    font-family: arial,sans-serif;
    line-height: 1.5em;
}

.body {
    margin: auto;
    width: 95%;
}

.description{
    font-size: 18px;
    margin: auto;
}

.title{
    padding: 10px;
}

.center {
    margin: auto;
    text-align: center;
    padding: 10px;
}

.table {
    
}




  