html {
    font-family: arial,sans-serif;
    line-height: 1.5em;
}

.body {
    margin: auto;
    width: 95%;
}

.description{
    font-size: 18px;
    margin: auto;
}

.title{
    padding: 10px;
}

.center {
    margin: auto;
    text-align: center;
    padding: 10px;
}

table {
    border-spacing: 10px;
    border-collapse: separate;
}

.course{
    border: 5px solid rgb(178, 161, 221);
    border-radius: 5px;
    background-color: rgb(161, 221, 199);
}

.quiz{
    border: 5px solid rgb(221, 195, 161);
    border-radius: 5px;
    background-color: rgb(199, 221, 161);
}



  